<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td border="0" cellpadding="0" cellspacing="0" height="38" width="222">
                <img src="../static/logo/techasians.png" alt="Icon" height="150px" width="150px">
            </td>
        </tr>
        <tr>
            <td height="64" style="font-family:Helvetica, Arial, sans-serif; font-size:18px; font-style:bold;">
                <strong>ABC.com - Password Recovery</strong>
                <br><br>
                <em style="font-size:17px; font-weight:400;">From ABC JSC</em>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="hover" height="60"
                style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#000000;">
                <p>Dear Customer, You can reset the password for your control panel account by using the information
                    below:</p>
                <div>
                    <p style="display: inline-block;margin-right: 10px;">Reset Code: </p>
                    <p th:text="${link}" style="size: A3; display:inline-block"></p>
                </div>
            </td>
        </tr>
        <tr>
            <td height="55" style="font-family:Helvetica, Arial, sans-serif; font-size:14px; color:#000000;">
                <p style="display: inline-block;margin-right: 10px;">
                    Follow us on Facebook:
                </p>
                <a href="https://www.facebook.com/ABC"
                   style="color: #15c;display:inline-block;text-decoration: none">
                    https://www.facebook.com/ABC
                </a>
                <p>---------- ABC.com Support Team ----------</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
